<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
	.dataTable-container > table > thead > tr > th,
	.dataTable-container > table > tbody > tr > td{
		text-align: center;
	}
</style>
<!--/* 마치 인클루드처럼, basic 레이아웃을 1개 만들고 내부의 화면은 따로 매개변수처럼 넣어줌 */-->
<th:block th:replace="~{/layout/emptyLayout :: setContent(~{::title}, ~{this::content})}">
	<title th:text="#{member.title.join}"/>
	<th:block th:fragment="content">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-9">
					<div class="card shadow-lg border-0 rounded-lg mt-5">
						<div class="card-header"><h3 class="text-center font-weight-light my-4" th:text="#{member.title.join}"/></div>
						<div class="card-body">
							<form th:object="${dto}" th:action="@{/member/joinMember}" method="post" enctype="multipart/form-data">
								<div class="row mb-3">
									<div class="col-md-12 pt-3">
										<div class="form-floating profile-box">
											<!--/* 이 이미지를 로드할 때는 dto의 경로를 src에 넣어주고, 클릭하면 profileImage를 클릭해준다.
											 그리고 업로드하면 해당 이미지를 img 태그에 보여준다.
											 */-->
											<img class="profile-img" id="profile" src="../img/default-profile.png"/>
											<input class="d-none" id="profileImage" type="file" th:field="*{profileImage}" readonly="readonly"/>
										</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-12 pt-3">
										<div class="form-floating">
											<input class="form-control" id="email" type="text" th:field="*{email}" th:placeholder="#{ph.email}" th:onchange="emailDuplicatedChk(this.value)"/>
											<label for="email" th:text="#{field.email}"/>
											<span class="errorMsg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
										</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-12 pt-3">
										<div class="form-floating">
											<input class="form-control" id="password" type="password" th:field="*{password}" th:placeholder="#{ph.password}" th:onchange="isSamePassword()"/>
											<label for="password" th:text="#{field.password}"/>
											<span class="errorMsg" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
										</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-12 pt-3">
										<div class="form-floating">
											<input class="form-control" id="confirmPassword" type="password" th:field="*{confirmPassword}" th:placeholder="#{ph.confirmPassword}" th:onchange="isSamePassword()"/>
											<label for="confirmPassword" th:text="#{field.confirmPassword}"/>
											<span class="errorMsg" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"/>
										</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-12 pt-3">
										<div class="form-floating">
											<input class="form-control" id="name" type="text" th:field="*{name}" th:placeholder="#{ph.name}"/>
											<label for="name" th:text="#{field.name}"/>
											<span class="errorMsg" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
										</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-12 pt-3">
										<div class="form-floating">
											<input class="form-control" id="nick" type="text" th:field="*{nick}" th:placeholder="#{ph.nick}" th:onchange="nickDuplicatedChk(this.value)"/>
											<label for="nick" th:text="#{field.nick}"/>
											<span class="errorMsg" th:if="${#fields.hasErrors('nick')}" th:errors="*{nick}"/>
										</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-12 pt-3">
										<div class="form-floating">
											<input class="form-control" id="birth" type="text" th:field="*{birth}" th:placeholder="#{ph.birth}"/>
											<label for="birth" th:text="#{field.birth}"/>
											<span class="errorMsg" th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}"/>
										</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-12 pt-3">
										<div th:each="sex : ${sexes}" class="form-check-inline form-check">
											<input class="form-check-input" type="radio" th:field="*{sex}" th:value="${sex.name()}"/>
											<label th:for="${#ids.prev('sex')}" th:text="${sex.description}" class="form-check-label">성별</label>
											<span class="errorMsg" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"/>
										</div>
									</div>
								</div>
								<div class="mt-4 mb-0">
									<div class="d-grid"><a class="btn btn-primary btn-block" onclick="joinMember()" th:text="#{btn.joinMember}"/></div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</th:block>

<script th:inline="javascript">

	function joinMember(){
		// 1. dto를 json으로 변환
		var jsonDto = $('form').serializeObject();

		// 2. ajax로 전송하여, 성공여부에 따라 처리
		$.ajax({
			url:'/member/joinForm',
			method: 'POST',
			data: JSON.stringify(jsonDto),
			contentType: "application/json; charset=utf-8",
			success: function (response, status) {
				// 로그인 화면으로 redirect하기
			},
			error: function (response, status) {
				markingErrorField(response);
			}
		});
	}

	$("#profile").click(function () {
		$("#profileImage").trigger('click');
	});

	$("#profileImage").on('change', previewImage);

	function previewImage(e){
		var profileImgTag = $("#profile");
		var profileTag = $("#profileImage");
		var profileFiles = profileTag[0].files;
		var fileName = profileTag.val().split("\\").pop();
		var formData = new FormData();
		console.log(profileFiles)

		// 이미지 미리보기 기능 추가하기
		for(var i = 0; i < profileFiles.length; i++){
			if(!checkExtension(profileFiles[i].name, profileFiles[i].size)){
				return false;
			}

			// 이미지 미리보기
			var reader = new FileReader();
			reader.onload = function(e){
				profileImgTag.attr("src", e.target.result);
			}
			reader.readAsDataURL(profileFiles[i]);
		}
		console.log('onchange')
	}

	function isSamePassword(){
		var passwordTag = $("#password");
		var confirmPasswordTag = $("#confirmPassword");

		passwordTag.siblings('.errorMsg').remove();
		confirmPasswordTag.siblings('.errorMsg').remove();

		if (passwordTag.val() != confirmPasswordTag.val()){
			passwordTag.after('<span class="errorMsg">비밀번호가 일치하지 않습니다.</span>');
			confirmPasswordTag.after('<span class="errorMsg">비밀번호가 일치하지 않습니다.</span>');
	1	}
	}

	function emailDuplicatedChk(email){
		// 1. dto를 json으로 변환
		var jsonDto = $('form').serializeObject();

		// 2. ajax로 전송하여, 성공여부에 따라 처리
		$.ajax({
			url:'/member/emailDuplicateChk',
			method: 'POST',
			data: JSON.stringify(jsonDto),
			contentType: "application/json; charset=utf-8",
			success: function (response, status) {
				// 로그인 화면으로 redirect하기
			},
			error: function (response, status) {
				markingErrorField(response);
			}
		});
	}

	function nickDuplicatedChk(nick){

		console.log("닉네임체크")
		console.log(email)
	}
</script>