<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
	.dataTable-container > table > thead > tr > th,
	.dataTable-container > table > tbody > tr > td{
		text-align: center;
	}
</style>
<!--/* 마치 인클루드처럼, basic 레이아웃을 1개 만들고 내부의 화면은 따로 매개변수처럼 넣어줌 */-->
<th:block th:replace="~{/layout/layout :: setContent(~{::title}, ~{this::content})}">
	<title th:text="#{todo.title.regist}"/>
	<th:block th:fragment="content">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-9">
					<div class="card shadow-lg border-0 rounded-lg mt-5">
						<div class="card-header"><h3 class="text-center font-weight-light my-4" th:text="#{todo.title.regist}"/></div>
						<div class="card-body">
							<form th:object="${dto}" th:action="@{/todo/register}" method="post">
								<div class="row mb-3">
									<div class="col-md-3">
										<div class="form-floating">
											<select class="form-select py-0" th:field="*{menu}" th:onchange="'getLclasCodes(this.value)'">
												<option value='' th:text="#{field.menu.choose}"/>
												<option th:each="menu : ${menus}" th:value="${menu.name()}" th:text="${menu.name()}"/>
											</select>
											<span class="errorMsg" th:if="${#fields.hasErrors('menu')}" th:errors="*{menu}"/>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-floating">
											<select class="form-select py-0" id="lClasCode" name="lClasCode" th:onchange="'getMclasCodes(this.value);'">
												<option value='' th:text="#{field.lclas.choose}"/>
												<option th:each="lCode : ${lClasCodes}" th:value="${lCode.code}" th:text="${lCode.title}"
														th:selected="*{lClasCode?.code} == ${lCode.code}"/>
											</select>
											<span class="errorMsg" th:if="${#fields.hasErrors('lClasCode')}" th:errors="*{lClasCode}"/>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-floating">
											<select class="form-select py-0" id="mClasCode" name="mClasCode" th:onchange="'getSclasCodes(this.value);'">
												<option value='' th:text="#{field.mclas.choose}"/>
												<option th:each="mCode : ${mClasCodes}" th:value="${mCode.code}" th:text="${mCode.title}"
														th:selected="*{mClasCode?.code} == ${mCode.code}"/>
											</select>
											<span class="errorMsg" th:if="${#fields.hasErrors('mClasCode')}" th:errors="*{mClasCode}"/>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-floating">
											<select class="form-select py-0" id="sClasCode" name="sClasCode">
												<option value='' th:text="#{field.sclas.choose}"/>
												<option th:each="sCode : ${sClasCodes}" th:value="${sCode.code}" th:text="${sCode.title}"
														th:selected="*{sClasCode?.code} == ${sCode.code}"/>
											</select>
											<span class="errorMsg" th:if="${#fields.hasErrors('sClasCode')}" th:errors="*{sClasCode}"/>
										</div>
									</div>
									<div class="col-md-4 pt-3">
										<div class="form-floating mb-3 mb-md-0">
											<input class="form-control datepicker" id="registDate" type="text" th:field="*{registDate}" th:placeholder="#{ph.registDate}"/>
											<label for="registDate" th:text="#{field.registDate}">
												<i class="fa fa-calendar me-1"></i>
											</label>
											<span class="errorMsg" th:if="${#fields.hasErrors('registDate')}" th:errors="*{registDate}"/>
										</div>
									</div>
									<div class="col-md-5 pt-3">
										<div class="form-floating">
											<input class="form-control" id="amount" type="text" th:field="*{amount}"
												   th:placeholder="#{ph.amount}" onkeyup="setNumComma(this)" maxlength="24"/>
											<label for="amount" th:text="#{field.amount}"/>
											<span class="errorMsg" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"/>
										</div>
									</div>
									<div class="col-md-3 pt-3">
										<div class="form-check mb-3">
											<input class="form-check-input" id="toNextMonthYn" type="checkbox" th:field="*{toNextMonthYn}"/>
											<label for="toNextMonthYn" th:text="#{field.toNextMonthYn}"/>
											<span class="errorMsg" th:if="${#fields.hasErrors('toNextMonthYn')}" th:errors="*{toNextMonthYn}"/>
										</div>
									</div>
								</div>
								<div class="form-floating mb-3 ">
									<input class="form-control" id="note" type="text" th:field="*{note}" th:placeholder="#{ph.note}" maxlength="70"/>
									<label for="note" th:text="#{field.note}"/>
								</div>
								<div class="mt-4 mb-0">
									<div class="d-grid"><a class="btn btn-primary btn-block" onclick="save()" th:text="#{btn.save}"/></div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</th:block>

<script th:inline="javascript">
	var url = '';
	var lClasTitle = '대분류선택', mClasTitle = '중분류선택', sClasTitle = '소분류선택';

	$(document).ready(function() {
		var msg = [[${msg}]]
		if(!isStrNull(msg)) alert(msg);
	});

	function getLclasCodes(menu){
		$('#lClasCode').html('<option value="">[' + lClasTitle + ']</option>');
		$('#mClasCode').html('<option value="">[' + mClasTitle + ']</option>');
		$('#sClasCode').html('<option value="">[' + sClasTitle + ']</option>');

		if(isStrNull(menu) || menu === '메뉴없음') return false;

		url = (menu === '현금흐름표') ? '/todo/lClasCodes/cfCode' : '/todo/lClasCodes/bsCode';

		comAjax({'menu' : menu}, url,
			function (data){
				$('#lClasCode').html('<option value="">[' + lClasTitle + ']</option>' + makeOption(data));
			},
			function (){}
		)
	}

	function getMclasCodes(lClasCode){
		$('#sClasCode').html('<option value="">[' + sClasTitle + ']</option>');

		if(isStrNull(lClasCode) || lClasCode === '없음') return false;

		url = ($('#menu').val() === '현금흐름표') ? '/todo/mClasCodes/cfCode' : '/todo/mClasCodes/bsCode';

		comAjax({'lClasCode' : lClasCode}, url,
			function (data){
				$('#mClasCode').html('<option value="">[' + mClasTitle + ']</option>' + makeOption(data));
			},
			function (){}
		)
	}

	function getSclasCodes(mClasCode){
		if(isStrNull(mClasCode) || mClasCode === '없음') return false;

		url = ($('#menu').val() === '현금흐름표') ? '/todo/sClasCodes/cfCode' : '/todo/sClasCodes/bsCode';

		comAjax({'mClasCode' : mClasCode}, url,
			function (data){
				$('#sClasCode').html('<option value="">[' + sClasTitle + ']</option>' + makeOption(data));
			},
			function (){}
		)
	}

	function makeOption(data){
		var str = '';
		data.forEach (function (item) {
			str += '<option value=' + item.code + '>' + item.title + '</option>';
		});
		return str;
	}

</script>